<section 
  class="h-[70vh] grid place-content-center sm:px-5"
>
  <div>
    <p class="text-5xl font-bold text-[#290517] mb-10 max-sm:text-4xl">Inicio</p>
    <p class="text-4xl mx-auto max-sm:text-3xl">
      En Pioneros, estamos apasionados por llevar a tu mesa el auténtico sabor de México. Nos dedicamos a crear salsas de la más alta calidad, elaboradas con los mejores ingredientes que nuestra tierra tiene para ofrecer.
    </p>
  </div>
</section>

<section
  class="w-full h-screen sm:px-5 flex flex-col justify-between py-10"
>
  <p class="text-5xl max-sm:text-4xl text-[#c55398] font-bold">Nuestros favoritos</p>

  <section class="flex justify-center">
    <section
      class="flex items-center gap-10 overflow-x-auto mt-10 pb-5"
    >
      <article>
        <div class="border-2 border-[#c55398] rounded-lg shadow-xl w-[250px] grid place-content-center">
          {{ images['salsa_ranchera.png'] | image_url: width: 200 | image_tag }}
        </div>
        <p class="text-center text-xl text-[#490a29] font-semibold">Salsa ranchera</p>
      </article>

      <article>
        <div class="border-2 border-[#c55398] rounded-lg shadow-xl w-[250px] grid place-content-center">
          {{ images['salsa_ranchera.png'] | image_url: width: 200 | image_tag }}
        </div>
        <p class="text-center text-xl text-[#490a29] font-semibold">Salsa ranchera</p>
      </article>

      <article>
        <div class="border-2 border-[#c55398] rounded-lg shadow-xl w-[250px] grid place-content-center">
          {{ images['salsa_ranchera.png'] | image_url: width: 200 | image_tag }}
        </div>
        <p class="text-center text-xl text-[#490a29] font-semibold">Salsa ranchera</p>
      </article>

    </section>
  </section>

  <a
    href="{{ pages['Productos'].url }}"
    class="bg-[#490a29] rounded-2xl h-14 w-52 text-slate-50 font-bold flex items-center justify-between px-2 self-center"
  >
    Ir a la tienda

    {% render 'store-icon' %}
  </a>
</section>

<section class="h-screen grid grid-rows-2 items-center sm:px-5">
  <article>
    <p class="text-5xl max-sm:text-4xl font-bold mb-10 text-[#490a29]">Nuestra misión</p>
    <p class="text-3xl max-sm:text-2xl sm:w-3/4 mx-auto">
      En Salsas Pioneros, nuestra misión es preservar y compartir la riqueza de los sabores mexicanos, ofreciendo a nuestros clientes productos de primera calidad que despierten sus papilas gustativas y les hagan sentir como si estuvieran en el corazón de México.
    </p>
  </article>

  <article>
    <p class="text-5xl max-sm:text-4xl font-bold mb-10 text-[#490a29]">Nuestra visión</p>
    <p class="text-3xl max-sm:text-2xl sm:w-3/4 mx-auto">
      Como pioneros en la creación de salsas de calidad suprema, aspiramos a enriquecer la vida de las personas con cada gota de sabor y a preservar la tradición culinaria de México para las generaciones venideras.  
    </p>
  </article>

</section>

<section class="h-screen flex flex-col justify-center  gap-10 sm:px-5">
  <p class="text-5xl max-sm:text-4xl font-bold text-[#c55398]">Conoce nuestros productos</p>

  <article class="grid grid-rows-2 h-[500px] max-sm:h-[290px] gap-2 w-3/4 max-sm:w-full mx-auto">

    <div class="grid grid-cols-2 gap-2">
      <article class="bg-amber-300 w-full h-full"></article>

      <div class="grid grid-cols-3 gap-2">
        <article class="bg-amber-300 w-full h-full"></article>
        <article class="bg-amber-300 w-full h-full"></article>
        <article class="bg-amber-300 w-full h-full"></article>
        <article class="bg-amber-300 w-full h-full"></article>
        <article class="bg-amber-300 w-full h-full"></article>
        <article class="bg-amber-300 w-full h-full"></article>
      </div>
    </div>

    <div>
      <article class="bg-amber-300 w-full h-full"></article>
    </div>

  </article>
</section>